.App {
  height: 100vh;
  display: grid;
  grid-template-rows: [header] 80px [main] auto;
  color: #04b1c5;
  font-size: 2em;
}

.header {
  background-color: rgba(226, 28, 200, 0.39);
  filter: blur(15px);
  background-image: url(./images/wallpaper.png);
  position: relative;
}

.main {
  overflow-y: scroll;
  background-color: rgb(0, 0, 0);
}
